<div class="well">
  <%= form_for @album do |f| %>
    <div class="control-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.fields_for :pictures do |form| %>
        <%= form.file_field :small_thumb, :multiple => true, name: "pictures[small_thumb][]"%>
      <% end %>
    </div>
    <%= f.submit 'Create Album', class: 'btn btn-primary' %>
  <% end %>
</div>